*{
	box-sizing: border-box;
}

body{
	font-family: 'Lato', san-sarif;
	margin: 0;
	background: linear-gradient(rgba(0,0,0,0.5), rgba(0,0,0,0.5)),url(../madina.jpg);
	background-size: cover;
}

ul, nav{
	padding: 0;
	list-style-type: none;
}

a{
	color: white;
	opacity: 0.8;
}

a:hover{
	opacity: 1;
}

h1{
	 color: white;
}

header{
	width: 100%;
	display: flex;
	justify-content: space-between;
	color: white;
	position: fixed;
	padding: 10px 100px;
}

header nav ul{
	display: flex;
}

header nav li{
	margin: 0 20px;
}

a.btn{
	color: white;
	padding: 10px;
	border: 1px solid rgba(255,255,255,0.5);
}

a.btn:hover{
	background-color: transparent;
	border: 1px solid yellow;
	
}	

.cover{
	height: 100vh;
	width: 100%;
	padding: 20px 50px;
	display: flex;
	justify-content: center;
	align-items: center;
	flex-direction: column;
	color: white;
	font-size: 800;
}

.login{
	width: 300px; height: 400px;
	margin: 1px auto;
	padding: 25px;
	color: white;
}

p{font-weight: bold;}
.level-4 a{float: right;}
.placeholder{width: 1px; height: 20px;}
input{width: 250px}

.flex_form input[type="submit"]{
	background-color: black;
	border: 1px solid yellow;
	color: white;
	padding: 0 50px;
	cursor: pointer;
	transition: 0.5s all;
}

.flex_form{
	display: flex;
	position: relative;
	width: 500px;
	box-shadow: 4px 8px 16px rgba(0,0,0,0.3);
}

.flex_form > *{
	border: 0;
	padding: 0 0 0 10px;
	background: white;
	line-height: 50px;
	font-size: 1rem;
	border-radius: 0;
	outline: 0;
}

input[type="search"]{
	flex-basis: 500px;
}

@media all and (max-width: 800px){
	body{
		font-style: 0.9;
	}

	.flex_form{
		width: 100%;
	}

	input[type="search"]{
		flex-basis: 100%;
	}

	.flex_form > *{
		font-size: 0.9;
	}

	header{
		flex-direction: column;
		padding: 10px;
	}
	header h2{
		margin-bottom: 15px;
	}

	h1{
		font-size: 2rem;
	}

	.cover{
		padding: 20px;
	}

}

@media all and (max-width: 800px){
	header nav li{
		margin: 0 10px;
	}

	.flex_form{
		display: flex;
		flex-direction: column;
	}
	input[type="search"]{
		flex-basis: 0;
	}

}

