body{
    background-color:purple;
    width:auto;
    height:auto;
}

.wrapper{
    text-align: center;
}

.frm{
    display:inline-block;
    text-align: left;
    margin-top:320px;
    
}
.frm{
    color:white;
    font-weight: 500;
}
a{
    color:white;
}