.wrapper{
    margin-left:70px;
}

.frm{
    display:inline-block;
    text-align: left;
    font-size:20px;
    
    
}
.frm{
    color:white;
}
input[type=submit]{
    background-color:white;
    cursor:pointer;
    color:black;
    font-weight: 700;
}
input[type=submit]:hover{
    background-color:navajowhite;
}